---
layout: default
permalink: /ai/
description: ai
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/ai.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>AI: <em> What's all the fuss about</em></h2>
            
            </td>
        </tr>
    </table>
</section>

<table>
    <tr>
        <td><img src="{{ site.baseurl }}/images/2019-11-02-21-36-40.png" width="200" height="200"/></td>
        <td><img src="{{ site.baseurl }}/images/2019-11-02-21-41-16.png" width="200" height="200"/></td>
    </tr>
</table>
<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.ai %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />
<table>
    <tr>
        <td>
            {% assign tags =  site.posts | where: 'public','true' | where: 'categories','ai'| map: 'tags' | join: ','  | split: ',' | sort %}
            {% include tags_func.html %}
        </td>
    </tr>
    
    </table>
    
    <hr />


<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'ai' %}
    {% include list_ng.html %}
    {% endif %}
    {% endfor %}
</div>
