---
layout: default
permalink: /arduino/
description: arduino
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/arduino.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Arduino: <em> Startup for ideas</em></h2>
            
            </td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.arduino_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />


<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'arduino'%}
    {% include list.html %}
    {% endif %}
    {% endfor %}
</div>
