---
layout: default
permalink: /autopilot/
---
<section id="banner" style="height: 100px">
    <table >
        <tr>
            <td width="20%">
                <img style="height: 100px" src="{{ site.baseurl }}/images/px4.png" /></td>
            <td  style="color: #fff;text-align: center;vertical-align: middle">
                <h2></h2>
            </td>
            <td >
                <img style="width: 40%" src="{{ site.baseurl }}/images/ardupilot.png" />
            </td>
        </tr>
    </table>
</section>

<table>
    <tr>
        <td style="padding:10px;vertical-align: middle">
            <a href="{{ site.baseurl }}/ardupilot">
                <img src="{{ site.baseurl }}/images/ArduPilot-title.png"/>
            </a>
        </td>

        <td width="150px">&nbsp;</td>
        <td style="padding:10px">
                <a href="{{ site.baseurl }}/px4">
            <img src="{{ site.baseurl }}/images/px4.png" width="40%"/>
        </a>
        </td>
    </tr>
    <tr>
        <td>ArduPilot is a open source autopilot system supporting multi-copters, traditional helicopters, fixed wing aircraft and rovers.</td>
        <td width="150px">&nbsp;</td>
        <td>PX4 is an open source flight control software for drones and other unmanned vehicles.</td>
    </tr>
</table>

<hr/>

<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.autopilot_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>


<hr/>

<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'PX4' or post.categories contains 'APM'%}
    {% include list.html %}
    {% endif %}
    {% endfor %}
</div>