---
layout: default
permalink: /autopilot/
---
<section id="banner" style="height: 100px">
    <table >
        <tr>
            <td width="20%">
                <img style="height: 100px" src="{{ site.baseurl }}/images/px4.png" /></td>
            <td  style="color: #fff;text-align: center;vertical-align: middle">
                <h2></h2>
            </td>
            <td >
                <img style="width: 40%" src="{{ site.baseurl }}/images/ardupilot.png" />
            </td>
        </tr>
    </table>
</section>

<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.autopilot_posts %}
    {% for post in site.posts %}
    {% if post.title == post_item.title %}
    {% assign i = i | plus:1 %}
    <section class="6u">
        <div class="box post">
            <a href="{{ site.baseurl }}{{ post.url }}" class="image left"><img
                    src="{{ site.baseurl }}/images/{{ post.image }}" /></a>
            <div class="inner">
                <h3>{{ post.title }}</h3>
                <p>{{ post.description }}</p>
            </div>
        </div>
    </section>
    {% assign value = i | modulo:2 %}
    {% if value == 0 %}
</div>
<div class="row">
    {% endif %}
    {% endif  %}
    {% endfor %}
    {% endfor %}
</div>


<hr/>

<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'PX4' or  post.categories contains 'ardupilot'%}
    {% if post.public %}
    <div class="row">
        <section class="6u">
            <div class="box post">
                {% if post.image != null %}
                <div class="image left">
                    <img src="{{ site.baseurl }}/images/{{ post.image }}" />
                </div>
                <div class="inner">
                    {% else %}
                    <div>
                        {% endif %}

                        <h3>{{ post.title }}</h3>
                        <div class="date">
                            Written on: {{ post.date | date: "%B %e, %Y" }}
                        </div>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </div>
        </section>
    </div>


    <a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>

    <hr />
    {% endif %}
    {% endif %}
    {% endfor %}
</div>
<img src="{{ site.baseurl }}/images/autopilot_logo.jpg" />
<div>Icons made by <a
        href="https://www.freepik.com/?__hstc=57440181.758ce1be26f93643a64fc09bba476cbc.1557657064720.1557657064720.1557657064720.1&__hssc=57440181.2.1557657064720&__hsfp=3458490045"
        title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is
    licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC
        3.0 BY</a></div>