---
layout: default
permalink: /gazebo/
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/gazebo.png" /></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Gazebo: <em> Worlds models and plugins</em></h2>

            </td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.gazebo_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />
<table>
<tr>
    <td>
        {% assign tags =  site.posts | where: 'public','true' | where: 'categories','gazebo'| map: 'tags' | join: ','  | split: ',' | sort %}
        {% include tags_func.html %}
    </td>
</tr>

</table>

<hr />

<table class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'gazebo'%}
    {% include list.html %}
    {% endif %}
    {% endfor %}
</table>