---
layout: default
permalink: /hardware/
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/raspberry-pi.png" /></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Hardware: <em> IoT in the edge</em></h2>

            </td>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/arduino_logo.png" /></td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.hw_posts %}
    {% for post in site.posts %}
    {% if post.title == post_item.title %}
    {% assign i = i | plus:1 %}
    <section class="6u">
        <div class="box post">
            <a href="{{ site.baseurl }}{{ post.url }}" class="image left"><img
                    src="{{ site.baseurl }}/images/{{ post.image }}" /></a>
            <div class="inner">
                <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                <p>{{ post.description }}</p>
            </div>
        </div>
    </section>
    {% assign value = i | modulo:2 %}
    {% if value == 0 %}
</div>
<div class="row">
    {% endif %}
    {% endif  %}
    {% endfor %}
    {% endfor %}
</div>

<hr />
<!-- <img src="{{ site.baseurl }}/images/vscode_banner.jpg"/> -->


<table class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'hw'%}
    {% if post.public %}
    <tr class="row">
        {% if post.image != null %}
        {% assign w=2 %}
        <td>
            <img style="width: 100px" src="{{ site.baseurl }}/images/{{ post.image }}" />
        </td>
        {% else %}
        {% assign w=1 %}
        {% endif %}
        <td>
            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="date">
                Written on: {{ post.date | date: "%B %e, %Y" }}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="{{ w }}">
            <p>{{ post.excerpt }}</p>
        </td>
    </tr>
    <tr>
        <td colspan="{{ w }}">
            <a href="{{ site.baseurl }}{{ post.url }}" class="button">Continue Reading</a>
        </td>
    </tr>
    <tr>
        <td colspan="{{ w }}">
            <hr />
        </td>
    </tr>


    {% endif %}
    {% endif %}
    {% endfor %}
</table>