---
layout: default
permalink: /hardware/
description: Post about hardware setup and integration, RPi, NVIDIA, Intel, Odroid and others 
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/raspberry-pi.png" /></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Hardware: <em> IoT in the edge</em></h2>

            </td>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/arduino_logo.png" /></td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.hw_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />
<table style="border:2px">
    <tr>
        <td style="width: 30px">
            <a href="{{ site.baseurl }}/arduino">
              <img src="{{ site.baseurl }}/images/arduino.png" alt="arduino" title="arduino" width="128" height="128"/>
            </a>
      </td>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/rpi">
          <img src="{{ site.baseurl }}/images/rpi.png" alt="RPI" title="RPI" width="128" height="128"/>
        </a>
      </td>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/stm">
            <img src="{{ site.baseurl }}/images/stm32logo.png" alt="STM32" title="STM32" width="128" height="128"/>
        </a>
      </td>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/nvidia">
            <img src="{{ site.baseurl }}/images/nvidia.png" alt="RPI" title="RPI" width="128" height="128"/>
        </a>
      </td>
    </tr>
</table>

<hr />
<table>
    <tr>
        <td>
            {% assign tags =  site.posts | where: 'public','true' | where: 'categories','hw'| map: 'tags' | join: ','  | split: ',' | sort %}
            {% include tags_func.html %}
        </td>
    </tr>
    
    </table>
<hr/>


<table class="posts">
    <!-- or post.categories contains 'arduino' or post.categories contains 'iot' or post.categories contains 'rpi' -->
    {% for post in site.posts %}
    {% if post.categories contains 'hw' or post.tags contains 'hw'%}
    {% include list_ng.html %}
    {% endif %}
    {% endfor %}
</table>