---
layout: default
permalink: /hardware/
description: Post about hardware setup and integration, RPi, NVIDIA, Intel, Odroid and others 
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/raspberry-pi.png" /></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Hardware: <em> IoT in the edge</em></h2>

            </td>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/arduino_logo.png" /></td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.hw_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />
<table style="border:2px">
    <tr>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/rpi">
          <img src="{{ site.baseurl }}/images/rpi.png" alt="RPI" title="RPI" width="128" height="128"/>
        </a>
      </td>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/rpi">
            <img src="{{ site.baseurl }}/images/rpi.png" alt="RPI" title="RPI" width="128" height="128"/>
        </a>
      </td>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/rpi">
            <img src="{{ site.baseurl }}/images/rpi.png" alt="RPI" title="RPI" width="128" height="128"/>
        </a>
      </td>
    </tr>
</table>
<hr/>
<!-- <img src="{{ site.baseurl }}/images/vscode_banner.jpg"/> -->


<table class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'hw' or post.categories contains 'arduino' or post.categories contains 'iot' or post.categories contains 'rpi'%}
    {% include list.html %}
    {% endif %}
    {% endfor %}
</table>