---
layout: default
title: Blog
description: Blog about robotics, Simulation and Implement robotics using pixhawk arduino opencv and AI
---
<section>
<img src="{{ site.baseurl }}/images/homepage_words.jpg" alt="wordCloudMap" usemap="#wordCloudMap">
<map name="wordCloudMap">
  <area shape="rect" alt="124" href="os.html" coords="748,324,872,388"  >
<area shape="rect" alt="112" href="os.html" coords="268,428,380,492"  >
<area shape="rect" alt="180" href="matlab.html" coords="668,248,848,310"  >
<area shape="rect" alt="48" href="opencv.html" coords="660,384,708,448"  >
<area shape="rect" alt="88" href="ros.html" coords="660,344,748,408"  >
<area shape="rect" alt="108" href="cpp.html" coords="376,124,484,216"  >
<area shape="rect" alt="192" href="opencv.html" coords="164,324,356,420"  >
<area shape="rect" alt="216" href="python.html" coords="404,572,620,668"  >
<area shape="rect" alt="228" href="gazebo.html" coords="396,508,624,604"  >
</map>

<hr/>
</section>

<!-- last posts -->
<div class="container">
    <table>
      {% assign counter = 0 %}
      {% assign posts =  site.posts | where: 'public','true' | sort: "date" | reverse %}
      {% for post in posts %}
      
      <tr>
          <td>
            <table>
              <tr>
                <td style="text-align:left;">
                  <img src="{{ site.baseurl }}/images/{{ site.data.categories[post.categories.first] }}"  width="32" height="32" alt="{{ site.data.categories[post.categories.first] }}"/>
                </td>
                <td style="text-align:left;">{{ post.date | date: "%B %e, %Y" }}</td>
                <td style="text-align:left;">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                  </a>
                </td>
              </tr>
            </table>
    </td>
    </tr>
      {% assign counter=counter | plus: 1 %}
      {% if counter > 5 %}
        {% break %}
      {% endif %}
      {% endfor %}
          
    </table>
    </div>
    <!-- last post end -->
    <hr/>