---
layout: default
title: ROS and Robotics BLOG
description: Blog about robotics, Posts about ROS, Gazebo, Implement robotics using pixhawk arduino opencv and AI
---
<section id="banner">
  <header>
    <h2>Robotics: <em> T engineering</em></h2>
  </header>
</section>
<!-- last posts -->
<table>
  {% assign counter = 0 %}
  {% assign posts =  site.posts | where: 'public','true' | sort: "date" | reverse %}
  {% for post in posts %}
  
  <tr>
      <td>
        <div>
          <img src="{{ site.baseurl }}/images/{{ site.data.categories[post.categories.first] }}"  width="32" height="32" alt="{{ site.data.categories[post.categories.first] }}"/>&nbsp;
          {{ post.date | date: "%B %e, %Y" }}
          &nbsp;->&nbsp;
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
</div>
</td>
</tr>
  {% assign counter=counter | plus: 1 %}
  {% if counter > 5 %}
    {% break %}
  {% endif %}
  {% endfor %}
      
</table>
<!-- Posts -->
<section class="wrapper style1">
  <div class="container">
    <div class="row">
      <section class="6u">
        <div class="box post">
          <a href="{{ site.baseurl }}/ros" class="image left"><img src="{{ site.baseurl }}/assets/images/ros.png" alt="ROS Posts" /></a>
          <div class="inner">
            <h3><a href="{{ site.baseurl }}/ros">ROS</a></h3>
            <p>The Robot Operating System (ROS) is a set of software libraries and tools that help you build robot applications. From drivers to state-of-the-art algorithms, and with powerful developer tools </p>
          </div>
        </div>
      </section>
      <section class="6u">
        <div class="box post">
          <a href="{{ site.baseurl }}/gazebo" class="image left"><img src="{{ site.baseurl }}/assets/images/gazebo.png" alt="Gazebo Posts" /></a>
          <div class="inner">
            <h3><a href="{{ site.baseurl }}/gazebo">Gazebo</a></h3>
            <p>Robot simulation is an essential tool in every roboticist's toolbox. A well-designed simulator makes it possible to rapidly test algorithms, design robots, perform regression testing, and train AI system using realistic scenarios</p>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section class="6u">
        <div class="box post">
          <a href="{{ site.baseurl }}/autopilot" class="image left"><img src="{{ site.baseurl }}/images/ardupilot-and-px4.jpg" alt="Ardupilot and PX4 Posts" /></a>
          <div class="inner">
            <h3><a href="{{ site.baseurl }}/autopilot">Ardupilot PX4</a></h3>
            <p>Using Ardupilot And PX4 for drone and rover over PIXHAWK using Companion computer power by ROS</p>
          </div>
        </div>
      </section>
      <section class="6u">
        <div class="box post">
          <a href="{{ site.baseurl }}/make_code" class="image left"><img src="{{ site.baseurl }}/assets/images/programing.jpg" alt="Python , CPP , VScode and hardware Posts" /></a>
          <div class="inner">
            <h3><a href="{{ site.baseurl }}/make_code">Other</a></h3>
            <p>Code, Math , Hardware and Other</p>
            <br/>
            <table style="border:2px">
              <tr>
                <td style="width: 30px">
                  <a href="{{ site.baseurl }}/math">
                    <img src="{{ site.baseurl }}/images/math.png" alt="Math" title="Math" width="64" height="64"/>
                  </a>
                </td>
                <td style="width: 30px">
                  <a href="{{ site.baseurl }}/python">
                    <img src="{{ site.baseurl }}/images/python.png" alt="python" title="Python" width="64" height="64"/>
                  </a>
                </td>
                <td style="width: 30px">
                  <a href="{{ site.baseurl }}/hardware">
                    <img src="{{ site.baseurl }}/images/mainboard.png" alt="hardware" title="Hardware" width="64" height="64"/>
                  </a>
                </td>
              </tr>
              <tr>
                <td style="width: 30px">
                  <a href="{{ site.baseurl }}/os">
                    <img src="{{ site.baseurl }}/images/linux.png" alt="linux" title="linux" width="64" height="64"/>
                  </a>
                </td>
                <td style="width: 30px">
                  <a href="{{ site.baseurl }}/vscode">
                    <img src="{{ site.baseurl }}/images/vscode.png" alt="vscode" title="vscode" width="64" height="64"/>
                  </a>
                </td>
                <td style="width: 30px">
                  <a href="{{ site.baseurl }}/opencv">
                    <img src="{{ site.baseurl }}/images/opencv-notitle.png" alt="opencv" title="Mathopencv" width="64" height="64"/>
                  </a>
                </td>
              </tr>
            </table>
            
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<hr/>
