---
layout: default
title: Blog
description: Blog about robotics, Simulation and Implement robotics using pixhawk arduino opencv and AI
---
<section>
<img src="{{ site.baseurl }}/images/homepage_words.jpg" alt="wordCloudMap" usemap="#wordCloudMap">
<map name="wordCloudMap">
  <area shape="rect" alt="480" href="os.html" coords="2688,1520,3168,1760">
  <area shape="rect" alt="448" href="os.html" coords="2608,992,3056,1248">
  <area shape="rect" alt="720" href="matlab.html" coords="1680,144,2400,392" >
  <area shape="rect" alt="192" href="opencv.html" coords="1216,1520,1408,1760" >
  <area shape="rect" alt="352" href="ros.html" coords="2672,1376,3024,1616" >
  <area shape="rect" alt="432" href="cpp.html" coords="992,1312,1424,1672" >
  <area shape="rect" alt="768" href="opencv.html" coords="1648,304,2416,680" >
  <area shape="rect" alt="848" href="python.html" coords="1616,2000,2464,2392" >
  <area shape="rect" alt="896" href="gazebo.html" coords="1600,528,2496,920" >
</map>

<hr/>
</section>

<!-- last posts -->
<div class="container">
    <table>
      {% assign counter = 0 %}
      {% assign posts =  site.posts | where: 'public','true' | sort: "date" | reverse %}
      {% for post in posts %}
      
      <tr>
          <td>
            <table>
              <tr>
                <td style="text-align:left;">
                  <img src="{{ site.baseurl }}/images/{{ site.data.categories[post.categories.first] }}"  width="32" height="32" alt="{{ site.data.categories[post.categories.first] }}"/>
                </td>
                <td style="text-align:left;">{{ post.date | date: "%B %e, %Y" }}</td>
                <td style="text-align:left;">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    {{ post.title }}
                  </a>
                </td>
              </tr>
            </table>
    </td>
    </tr>
      {% assign counter=counter | plus: 1 %}
      {% if counter > 5 %}
        {% break %}
      {% endif %}
      {% endfor %}
          
    </table>
    </div>
    <!-- last post end -->
    <hr/>