---
layout: default
permalink: /matlab/
description: MATLAB and simulink
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/matlab.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>MATLAB: <em> Matrix LAB</em></h2>
            
            </td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.matlab_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>
<hr/>
<lu>
{% assign menu_links=site.data.links["matlab"] %}
{% for item in menu_links %}
{% assign link=item[0] %}
{{ link }}
<li><a href="{{ link.url }}">{{ link.title  }}</a></li>
{% endfor %}
</lu>
<hr />
<table>
    <tr>
        <td>
            {% assign tags =  site.posts | where: 'public','true' | where: 'categories','matlab'| map: 'tags' | join: ','  | split: ',' | sort %}
            {% include tags_func.html %}
        </td>
    </tr>
    
    </table>
<hr/>


<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'matlab'%}
    {% include list_ng.html %}
    {% endif %}
    {% endfor %}
</div>
