---
layout: default
permalink: /minifollow/
description: follow the line main
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/ai.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Mini: <em> follow the line</em></h2>
            
            </td>
        </tr>
    </table>
</section>
&nbsp;



<hr />
<table>
    <tr>
        <td>
            {% assign tags =  site.posts | where: 'public','true' | where: 'categories','mini'| map: 'tags' | join: ','  | split: ',' | sort %}
            {% include tags_func.html %}
        </td>
    </tr>
    
    </table>
    
    <hr />


<div class="posts">
    {% assign posts =  site.posts | where: 'public','true' | where: 'categories','mini' %}
    {% for post in posts %}
    {% include list_ng.html %}
    {% endfor %}
</div>
