---
layout: default
permalink: /ros/
description: ROS posts, controls, navigation vision and others nodes
---
<section id="banner" style="height: 100px">
        <table >
            <tr>
                <td width="20%">
                    <img style="height: 100px" src="{{ site.baseurl }}/images/ros.png" /></td>
                <td  style="color: #fff;text-align: left;vertical-align: middle">
                    <h2>ROS: robotics melodic</h2>
                </td>
                
            </tr>
        </table>
    </section>

<table>
        <tr>
            <td style="padding:10px;vertical-align: middle;width: 400px;">
                <a href="{{ site.baseurl }}/ros">
                    <img src="{{ site.baseurl }}/images/ros_logo.png" />
                </a>
            </td>
    
            <td width="150px">&nbsp;</td>
            <td style="padding:10px">
                    <a href="{{ site.baseurl }}/ros2">
                <img src="{{ site.baseurl }}/images/ros2.png" />
            </a>
            </td>
        </tr>
        <tr>
            <td>The Robot Operating System (ROS) is a flexible framework for writing robot software. It is a collection of tools, libraries, and conventions that aim to simplify the task of creating complex and robust robot behavior across a wide variety of robotic platforms. </td>
            <td width="150px">&nbsp;</td>
            <td>ROS2: ROS Framework next generation, No more roscore, support Real time, new Ideas better performance</td>
        </tr>
    </table>

    <hr/>

<div class="row">
    {% assign i=0 %}
    {% for subs in site.data.ros_subs %}
    {% assign item=subs[1] %}
    {% include 2columns_yaml.html %}
    {% endfor %}
</div>

<hr/>

<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.ros_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr/>

<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'ros' %}
    {% include list.html %}
    {% endif %}
    {% endfor %}
</div>