---
layout: default
permalink: /ros/
description: ROS posts, controls, navigation vision and others nodes
---
<section id="banner" style="height: 100px">
        <table >
            <tr>
                <td width="20%">
                    <img style="height: 100px" src="{{ site.baseurl }}/images/ros.png" /></td>
                <td  style="color: #fff;text-align: left;vertical-align: middle">
                    <h2>ROS: robotics melodic</h2>
                </td>
                
            </tr>
        </table>
    </section>

<div class="row">
    {% assign i=0 %}
    {% for subs in site.data.ros_subs %}
    {% assign item=subs[1] %}
    {% include 2columns_yaml.html %}
    {% endfor %}
</div>

<hr/>

<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.ros_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr/>

<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'ros' %}
    {% include list.html %}
    {% endif %}
    {% endfor %}
</div>