---
layout: default
permalink: /ros_vision/
description: ROS posts, vision and AI 
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%">
                <img style="height: 100px" src="{{ site.baseurl }}/images/ros-icon.png" /></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>ROS: Vision and AI</h2>
            </td>
            <td width="20%">
                <img style="height: 100px" src="{{ site.baseurl }}/images/ai-rob.png" /></td>
            </td>

        </tr>
    </table>
</section>

<div class="row">
    {% assign vposts =  site.posts | where: 'public','true' | where: 'tags','vision' %}
    {% assign i=0 %}
    {% for post_item in vposts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />