---
layout: default
permalink: /simulink/
description: MATLAB and simulink
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/matlab.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>simulink: <em> </em></h2>
            
            </td>
        </tr>
    </table>
</section>


<table style="border:2px">
    <tr>
        <td style="width: 30px">
            <a href="{{ site.baseurl }}/matlab">
              <img src="{{ site.baseurl }}/images/matlab.png" alt="matlab" title="matlab" width="128" height="128"/>
            </a>
      </td>
      <td style="width: 30px">
        <a href="{{ site.baseurl }}/simulink">
          <img src="{{ site.baseurl }}/images/simulink.jpg" alt="simulink" title="simulink" width="128" height="128"/>
        </a>
      </td>
      
    </tr>
</table>
<hr />
<table>
    <tr>
        <td>
            {% assign tags =  site.posts | where: 'public','true' | where: 'categories','simulink' | map: 'tags' | join: ','  | split: ',' | sort %}
            {% include tags_func.html %}
        </td>
    </tr>
    
    </table>
<hr/>


<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'simulink' %}
    {% include list_ng.html %}
    {% endif %}
    {% endfor %}
</div>
