---
layout: default
permalink: /sites/
---
<section id="banner" style="height: 100px">
    <table >
        <tr>
                <td >
                        <img style="width: 60%" src="{{ site.baseurl }}/images/to-do-list.png" />
                    </td>
            <td  style="color: #fff;text-align: center;vertical-align: middle">
                <h2>Sites: <em> Links Posts Blogs and other pointers in the web</em></h2>
            </td>
            
        </tr>
    </table>
</section>
&nbsp;
&nbsp;
&nbsp;
{% for item in site.data.bookmarks %}
<h3> {{ item[0] }} </h3>
{{ item[1] }}
{% for link in item[1] %}
    <li>
        <a href="{{ link.link }}"  rel="noopener noreferrer" target="_blank">{{ link.name }}</a>
    </li>
    {% endfor %}

