---
layout: default
permalink: /video/
description: video and streaming
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/video.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>Video: <em> Streaming and video handling</em></h2>
            
            </td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.video_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />
<!-- <img src="{{ site.baseurl }}/images/vscode_banner.jpg"/> -->


<div class="posts">
    {% assign posts =  site.posts | where: 'public','true' | where: 'categories','video' %}
    {% for post in site.posts %}
    
    {% include list_ng.html %}
    
    {% endfor %}
</div>
