---
layout: default
permalink: /vscode/
description: VSCode ide tips and settings
---
<section id="banner" style="height: 100px">
    <table>
        <tr>
            <td width="20%"><img style="height: 100px" src="{{ site.baseurl }}/images/vscode.png"/></td>
            <td style="color: #fff;text-align: left;vertical-align: middle">
                <h2>VSCode: <em> One stop editor for all</em></h2>
            
            </td>
        </tr>
    </table>
</section>


<div class="row">
    {% assign i=0 %}
    {% for post_item in site.data.vscode_posts %}
    {% include 2columns.html %}
    {% endfor %}
</div>

<hr />
<table>
    <tr>
        <td>
            {% assign tags =  site.posts | where: 'public','true' | where: 'categories','vscode'| map: 'tags' | join: ','  | split: ',' | sort %}
            {% include tags_func.html %}
        </td>
    </tr>
    
    </table>
<hr/>


<div class="posts">
    {% for post in site.posts %}
    {% if post.categories contains 'vscode'%}
    {% include list_ng.html %}
    {% endif %}
    {% endfor %}
</div>
