{% assign i = i | plus:1 %}
<section class="6u">
    <div class="box post">
        <img class="image left" src="{{ site.baseurl }}/images/{{ item.image }}" alt="{{ item['title'] }}" title="{{ item['title'] }}" />
        <div class="inner">
            <h3><a href="{{ site.baseurl }}/{{ item['page'] }}" >{{ item['title'] }}</a></h3>
            <p>{{ item['description'] }}</p>
        </div>
    </div>
</section>
{% assign value = i | modulo:2 %}
{% if value == 0 %}
</div>
<div class="row">
{% endif %}
