<!DOCTYPE html>
<html>

<head>
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.name }} – {{ site.description }}
    {% endif %}
  </title>

  {% include meta.html %}

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
  <!-- <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style-wide.css" /> -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/tipuesearch/css/normalize.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
    href="{{ site.baseurl }}/feed.xml" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

  <!-- {% if page.tipue_search_active or layout.tipue_search_active %} -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/tipuesearch/tipuesearch_content.js"></script>
  <script src="{{ site.baseurl }}/assets/tipuesearch/tipuesearch_set.js"></script>
  <script src="{{ site.baseurl }}/assets/tipuesearch/tipuesearch.min.js"></script>
  <!-- {% endif %} -->
  <style>
    

  img[src*='#banner'] {
      max-height:100px;
      width: 800px;
  }
      
  </style>
  {% seo %}
</head>

<body>
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/" class="site-avatar">
        <img src="{{ site.avatar }}" alt="Code, Memory fragments and Robots " title="Code, Memory fragments and Robots"/></a>

        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">It's about</a></h1>
          <p class="site-description">Code, Robots and me</p>
          <!-- <p class="site-description">{{ site.description }}</p> -->
        </div>
        <nav >
          <table>
            <tr>
              <td>
                <!-- <a href="{{ site.baseurl }}/blog">Blog</a> -->
                <div class="dropdown">
                  <button class="dropbtn">Blog</button>
                  <div class="dropdown-content">
                      {% for qlink in site.data.quick_links %}
                      {% assign item=qlink[1] %}
                      <a href="{{ site.baseurl }}/{{ item.page }}" style="text-align: left">{{ item.title }}</a>
                    
                    {% endfor %}
                  </div>
                </div>
                
              </td>
              <td>
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/categories">Categories</a>
                <a href="{{ site.baseurl }}/tags">Tags</a>
              </td>
              <td>
                <a href="{{ site.baseurl }}/search">Search: </a>
              </td>
              <td>
                  <form action="{{ site.baseurl }}/search" >
                    <input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters"
                      required />
                      <img src="{{ site.baseurl }}/assets/tipuesearch/search.png" }}" class="tipue_search_icon" alt="search Blog" title="search Blog">
                  </form>
              
              </td>
              
            </tr>
          </table>
        </nav>
      </header>
    </div>
  </div>

  <div id="main" role="main" class="container">
    {{ content }}
  </div>

  <div class="container">
    <table>
      <tr>
    {% for qlink in site.data.quick_links %}
    {% assign item=qlink[1] %}
      <td  style="width: 30px">
          <div class="box post">
              <a href="{{ site.baseurl }}/{{ item.page }}" >
              <img class="image left" 
                src="{{ site.baseurl }}/images/{{ item.image }}" 
                width="48" height="48"
                alt="{{ post.title }}" 
                title="{{ item.title }}" />
              </a>
          </div>
        
      </td>
      {% endfor %}
    </tr>
    </table>
  </div>
  
  <div class="wrapper-footer">
    <div class="container">
      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>
  </div>
  <!-- 
  {% include analytics.html %} -->
  <hr/>
  <div>Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>

</html>