---
layout: default
---


<section id="banner" style="height: 80px">
    <table >
        <tr>
            <td width="20%">
                <img style="height: 80px" src="{{ site.baseurl }}/images/{{ page.categories[0] | downcase }}.png" />
            </td>
              
            <td  style="color: #fff;text-align: left;vertical-align:middle;font-size: 44px;font-weight: bold">
                {{ page.title }}
            </td>
            
        </tr>
    </table>
</section>

<article class="post">
  <div class="entry">
    {{ content }}
  </div>

  <hr/>
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <div class="date">
    categories: {{ page.categories | join: ', ' }}
  </div>
  <div class="date">
      tags: 
      {% for tag in page.tags %}
      <a href="/tags/#{{ tag | slugify }}">{{ tag }}</a>  
      {% endfor %}
  </div>
  {% include disqus.html %}
</article>
<div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
